.container{
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.brd{
    height: 400px;
    width: 700px;
    background-color: black;
    border: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    display: flex;
    align-items: center;
}
.yellow{
    height: 300px;
    width: 590px;
    border: 2px solid yellow;
    background-color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img{
    height: 140px;
    width: 180px;
    background: url(./asset/biker\ \(2\).svg);
    background-size: cover;
    animation: move .6s ease-in-out infinite;
    transform-origin: 50% 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

}
@keyframes move{
0%,100%{
    transform: scaleY(1);
}
50%{
    transform: scaleY(1.03);
}
}
.stripe{
  
   
    width: 20px;
    min-width:25px;
    height: 5px;
    
    
  }
  .road>.stripe  {
    opacity:.9;
    width:50px;
    height: 2px;
    min-height:5px;
    background: black;
    margin-top: 145px;
    background-size: 19px;
    
    
    animation: stripemove 2.5s linear infinite;
    
  }
  @keyframes stripemove {
    from{
      transform: rotateX(45deg) translate(180px);
    }
    
    
    to {
      transform: rotateX(45deg) translate(-350px);
    }
  
  }
 
  .stripe2{
  
   
    width: 20px;
    min-width:20px;
    height: 5px;
    
    
  }
  .road2>.stripe2 {
    opacity:.9;
    width:25px;
    height: 2px;
    min-height:5px;
    background: black;
    margin-top: 145px;
    background-size: 19px;
    
    animation: stripemove2 2.8s linear infinite;
    
  }
  
   
  @keyframes stripemove2 {
    from{
      transform: rotateX(45deg) translate(200px);
    }
    
    
    to {
      transform: rotateX(45deg) translate(-280px);
    }
  
  }
  
  .stripe3{
  
   
    width: 20px;
    min-width:10px;
    height: 5px;
    
    
  }
  .road3>.stripe3 {
    opacity:.9;
    width:25px;
    height: 2px;
    min-height:5px;
    background: black;
    margin-top: 145px;
    background-size: 19px;
    
    animation: stripemove3 3s linear infinite;
    
  }
  @keyframes stripemove3 {
    from{
      transform: rotateX(45deg) translate(180px);
    }
    
    
    to {
      transform: rotateX(45deg) translate(-350px);
    }
  
  }
  .stripe4{
  
   
    width: 20px;
    min-width:10px;
    height: 5px;
    
    
  }
  .road4>.stripe4{
    opacity:.9;
    width:25px;
    height: 2px;
    min-height:5px;
    background: black;
    margin-top: 145px;
    background-size: 19px;
    
    animation: stripemove4 2.4s linear infinite;
    
  }
  @keyframes stripemove4 {
    from{
      transform: rotateX(45deg) translate(180px);
    }
    
    
    to {
      transform: rotateX(45deg) translate(-350px);
    }
  
  }
  